<html>
    <%- include('./partials/head')%>
    <link rel="stylesheet" href="../../about.css">
    <body>
        <%- include('./partials/nav') %>

        <section class="new-entries">
            

            <% if(blogs.length > 0){ %>
                <% blogs.forEach(rec => { %>
                    
                    <div class="each-item">
                    
                        <a href="/about/<%=rec._id %> ">
                            <div class="img-dis">
                                <div class="new-image" name="image"
                                    style="background-image: url('./../uploads/<%= rec.image %>'); background-size: cover;"> </div>
                        
                        </a>
                        
                        
                        <div class="dets">
                            <ul>
                                <li class="name"> <%=rec.recName%> </li>
                                <li> <%= rec.category %></li>
                                <li> By:<%= rec.writer%></li>
                            </ul>
                        
                        </div>
                    </div>
        </div>

                <% }) %>
                <% } else { %>
                    <p><%= "No posts to display currently" %> </p>
                 <% } %>

        </section>

        </div>
        
    </body>
</html>